/* ==========================================================================
   #ANCHORS
   ========================================================================== */

/**
 * Basic styles for links
 */
a {
  color: $primary;
  text-decoration: none;

  @include on-event {
    color: $primary-dark;
  }
}
