.c-section {
  padding: 4rem 0;
  text-align: center;

  @include mq($from: mobileLandscape) {
    text-align: initial;
  } // breakpoint from: mobileLandscape

  @include mq($from: tablet) {
    font-size: 1.2rem;
    padding: 8rem 0;
  } // breakpoint from: tablet

  .c-section__title {
    margin-bottom: 2rem;
    line-height: 1;
    color: $gray-darker;

    @include mq($from: tablet) {
      font-size: 2rem;
    } // breakpoint from: tablet
  } // .c-section__title

} // .c-section
