
@mixin direction($dir, $important: false) {

	@if ($important == true) {
		$important: !important;
	} @elseif ($important == false) {
		$important: null;
	} @else {
		@error "`#{$important}` needs to be `true` or `false`."
	}

	@if ($dir != "") {
			direction: $dir $important;
	} @else {
		@error "`#{$dir}` needs to be a value!"
	}

}
