

@mixin pull($pull, $important: false) {

	@if ($important == true) {
		$important: !important;
	} @elseif ($important == false) {
		$important: null;
	} @else {
		@error "`#{$important}` needs to be `true` or `false`."
	}

	@if ($pull != "") {
			float: $pull $important;
	} @else {
		@error "`#{$pull}` needs to be a value!"
	}

}
