/*------------------------------------*\
    #COLORS
\*------------------------------------*/


/// Primary Colors
/// @type Color
$primary: #0071BC !default;
$primary-dark: #205493 !default;
$primary-darker: #112E51 !default;



/// Base colors - Gray Range Colors
/// @type Color
$gray-base: #212121 !default;
$gray-dark: #323A45 !default;
$gray: #5B616B !default;
$gray-light: #A9A9A9 !default; // AEB05B
$gray-lighter: #D6D7D9 !default;
$gray-lightest: #F1F1F1 !default;



/// Secondary Colors
/// @type Color
$secondary: #4191dc !default;
$secondary-light: #F9DEDE !default;
$secondary-dark: #3360A3 !default;



/// Warning Colors
/// @type Color
$warning: #F1C40F !default;
$warning-light: #FFF1D2 !default;
$warning-dark: #E65100 !default;



/// Success Colors
/// @type Color
$success: #2ECC71 !default;
$success-light: #E7F4E4 !default;
$success-dark: #2E7D32 !default;



/// Error Colors
/// @type Color
$error: #B71C1C !default;
$error-light: #F9DEDE !default;
$error-dark: #891B1E !default;



/// Document Body background color
/// @type Color
$color--body-primary-bgc: white !default;

/// Copy text color
/// @type Color
$color--text-color: $gray-base !default;

/// Main brand color
/// @type Color
$color--brand-color: $primary !default;

/// Light grey
/// @type Color
$light-grey: $gray-lighter !default;

/// Medium grey
/// @type Color
$mid-grey: $gray-light !default;

/// Dark grey
/// @type Color
$dark-grey: $gray-dark !default;
