/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/// Primary Colors
/// @type Color
$primary: #4191dc !default;
$primary-dark: #205493 !default;
$primary-darker: #112E51 !default;
/// Base colors - Gray Range Colors
/// @type Color
$gray-darker: #546e7a !default;
$gray-dark: #78909c !default;
$gray: #b0bec5 !default;
$gray-light: #cfd8dc !default;
$gray-lighter: #fafafa !default;
/// Secondary Colors
/// @type Color
$secondary: #ffde00 !default;
$secondary-dark: #ffd600 !default;
/// Warning Colors
/// @type Color
$warning: #F1C40F !default;
$warning-light: #FFF1D2 !default;
$warning-dark: #E65100 !default;
/// Success Colors
/// @type Color
$success: #2ECC71 !default;
$success-light: #E7F4E4 !default;
$success-dark: #2E7D32 !default;
/// Error Colors
/// @type Color
$error: #B71C1C !default;
$error-light: #F9DEDE !default;
$error-dark: #891B1E !default;
/// Document Body background color
/// @type Color
$color--body-primary-bgc: white !default;
/// Copy text color
/// @type Color
$color--text-color: $gray !default;
/// Main brand color
/// @type Color
$color--brand-color: $primary !default;
/// Light grey
/// @type Color
$light-grey: $gray-lighter !default;
/// Medium grey
/// @type Color
$mid-grey: $gray-light !default;
/// Dark grey
/// @type Color
$dark-grey: $gray-dark !default;
